#mainAlertsContainer {
    border: #00fd11 1px groove;
    background-color: black;
    /*padding: 5% 17% 7%;*/
    margin-right: 100px;
    color: white;
}

#alertDiv{
    float: left;
}

#alertButton {
    padding-left: 20px;
}

#alertElements {
    border: #00fd11 1px groove;
    /*padding-bottom: 10px;*/
    text-align: center;
    width: 500px;
}

#alertDivs {
    border: #00fd11 1px groove;
    background-color: black;
    padding: 5% 17% 7%;
    color: white;
}

#alertTextSet {
    color: #00fd11;
    font-size: 30px;
}

#alertSet {
    background-color: black;
    border-radius: 0;
    color: white;
    border: #00fd11 1px groove;
}

#alertSubmit {
    border: #00fd11 1px groove;
    border-radius: 0;
    color: #00fd11;
    background-color: black;
}

#alertSubmit:hover {
    background-color: rgb(12, 11, 11);
}

#alertButton {
    border: white 1px groove;
    border-radius: 3px;
    background-color: black;
    text-align: center;
}

#alertButton:hover {
    background-color: rgb(12, 11, 11);
}

#alertSubmitButtonText {
    font-size: 20px;
    /*padding-top: 10px;*/
    color: white;
}