.tutorial-table {
    text-align: center;
    color: black;
}

.tutorial-table button {
    width: 20%;
    background: rgba(255, 255, 255, 0.73);
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.tutorial-table button:hover {
    background: #949494;
}

.tutorial-table text {
    color: #111111;
}

.tutorial-table:Link {
    text-decoration: none;
}

#imagesId {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

#leverageAndSMImagesId{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 55%;
}


.box-content{
    margin-left: 15%;
    margin-right: 15%;
    border: white 1px groove;
    backdrop-filter: blur(60px);
    height: 35vw;
    overflow-y: scroll;
}

.box-content p {
    margin: auto;
    font-size: 14px;
    width: 700px; /* change to your preferences */
    text-align: center;
}

