#landing {
    /*opacity: 0.5;*/
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    padding-top: 10%;
    padding-bottom: 10%;
    border: white 1px groove;
    border-radius: 20px;
    color: white;
}

#landingButton {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    color: white;
    border: white 1px groove;
}

#landingButton:hover{
    background-color: rgb(32, 30, 30);
}

#mainNavbar {
    border-radius: 0 0 20px 20px ;
    background-color: rgba(0, 0, 0, 0.59);
    border-bottom: white 1px solid;
}

#managementTool {
    font-size: 20px;
    color: white;
}

#landingActions{
    color: white;
}

#landingActions:hover{
    color: #9c9c9c;
}

#headerText{
    color: white;
}

#headerText:hover {
    color: #9c9c9c;
}