.account-delete {
    font-size: 13px;
    text-align: center;
    margin-left: 70%;
    margin-right: 28%;
    color: red;
}

.account-delete:hover {
    background: #949494;
}

.alert-delete {
    font-size: 13px;
    text-align: center;
    margin-left: 60%;
    margin-right: 38%;
    color: red;
}

.alert-delete:hover {
    background: #949494;
}
.exceeded-amount-account {
    text-align: center;
    font-size: 12px;
    color: deepskyblue;
    border: 1px solid deepskyblue;
    margin-right: 40%;
    margin-left: 40%;
}

.exceeded-amount-alert {
    text-align: center;
    font-size: 12px;
    color: #a800a8;
    border: 1px solid #a800a8;
    margin-right: 40%;
    margin-left: 40%;
}

.account-dashboard {
    background: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 15px;
    position: relative;
}

.accounts {
    text-decoration: none;
}

#account-link {
    text-decoration: none;
}

.account-display {
    padding: 8px;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    background: #111111;
    border: 1px groove rgb(255, 255, 255);
    color: white;
}

.account-display:hover {
    background: #333333;
}

.add-account-content {
    text-align: center;
}

.account-modal-button {
    background: rgba(255, 255, 255, 0.73);
    border: 2px #111111;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.account-modal-button:hover {
    background: #949494;
}

.alerts{
    padding: 20px;
}

.alert-display {
    padding: 4px;
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background: #111111;
    border: 1px groove rgb(255, 255, 255);
    color: white;
}

.add-alert-content {
    text-align: center;
}

.alert-modal-button {
    background: rgba(255, 255, 255, 0.73);
    border: 2px #111111;
    border-radius: 5px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.alert-modal-button:hover {
    background: #949494;
}

.alert-options {
    text-align: center;
}

.alert-options > text {
    font-size: 13px;
}

.alert-select {
    padding: 2px 25px;
}

.guides {
    margin-top: 50px;
    text-align: center;
}

.guide-display button {
    background: rgba(255, 255, 255, 0.73);
    border: 2px #111111;
    border-radius: 5px;
    padding: 5px 70px;
}

.guide-display button:hover {
    background: #949494;
}

#guide-link {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.trailing-text {
    text-align: center;
}

.Modal {
    backdrop-filter: blur(15px);
    background: rgba(83, 83, 83, 1);
    border: white 1px groove;
    color: white;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    padding-bottom: 5%;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-group-modal {
    text-align: center;
}

.register-btn-modal {
    margin-top: 15px;
    color: rgba(44, 44, 44, 0.91);
    border: #000000 1px groove;
    background: #ffffff;
    width: 70%;
}

.register-btn-modal:disabled {
    background: rgba(77, 77, 77, 0.79);
}

.form-group-modal {
    margin-bottom: 20px;
    border-bottom: 2px solid #ffffff;
}

.close-modal {
    background: black;
    border: none;
    color: red;
}

::placeholder {
    color: white;
}

.execInst-options {
    margin-bottom: 4%;
}

.execInst-options text {
    margin-left: 20%;
    font-size: 21px;
}

.exec-inst {
    width: 30%;
    margin-top: 20px;
}

.close-on-trigger {
    margin-left: 3%;
    width: 5%;
    height: 20px;
    background: red;
}
