.account-dashboard {
    margin-top: 50px;
    padding: 50px;
    position: relative;
}

.accounts {
    padding-right: 100px;
    padding-left: 100px;
    text-decoration: none
}

#account-link {
    text-decoration: none;
}

.account-display {
    padding: 8px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 10px;
    text-align: center;
    background: #111111;
    border: 2px groove rgb(255, 255, 255);
    color: white;
}

.account-display:hover {
    background: #333333;
}

.add-account-content {
    text-align: center;
}

.account-modal-button {
    background: rgba(255, 255, 255, 0.73);
    border: 2px #111111;
    border-radius: 5px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.account-modal-button:hover {
    background: #949494;
}

.alerts {
    padding-right: 100px;
    padding-left: 100px;
}

.alert-display {
    padding: 8px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    background: #111111;
    border: 2px groove rgb(255, 255, 255);
    color: white;
}

.add-alert-content {
    text-align: center;
}

.alert-modal-button {
    background: rgba(255, 255, 255, 0.73);
    border: 2px #111111;
    border-radius: 5px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.alert-modal-button:hover {
    background: #949494;
}

.alert-options{
    text-align: center;
}

.alert-options > text {
    font-size: 13px;
}

.alert-select {
    padding: 2px 25px;
}

.guides {
    margin-top: 50px;
    text-align: center;
}

.guide-display button {
    background: rgba(255, 255, 255, 0.73);
    border: 2px #111111;
    border-radius: 5px;
    padding: 5px 70px;
}

.guide-display button:hover {
    background: #949494;
}

#guide-link {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.trailing-text {
    text-align: center;
}

.Modal {
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.82);
    border: white 1px groove;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    padding-bottom: 5%;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-group-modal {
    text-align: center;
}

.register-btn-modal {
    margin-top: 15px;
    color: black;
    background: white;
    border: none;
    width: 70%;
    border-radius: 20px;
}

.form-group-modal {
    margin-bottom: 20px;
    border-bottom: 2px solid #ffffff;
}

.close-modal {
    background: none;
    border: none;
    backdrop-filter: blur(15px);
    color: white;
}


::placeholder {
    color: white;
}

.trigger-radio{
    background: red;
}

.execInst-options{
    background: blue;
}
