#mainCredentialsContainer {
    border: blue 1px groove;
    background-color: black;
    /*padding: 5% 17% 7%;*/
    margin-left: 90px;
    color: white;
}

#mainDivAccount{
    display: inline-block;
}

#accountDiv{
    float: left;
}

#credentialsButton {
    padding-left: 20px;
}

#credentialDivs {
    border: blue 1px groove;
    background-color: black;
    padding: 5% 17% 7%;
    color: white;
}

#credentialsTextSet{
    color: blue;
    font-size: 30px;
}

#credentialsSet {
    background-color: black;
    border-radius: 0;
    color: white;
    border: blue 1px groove;
}

#credentialsSetSubmit {
    border: #fdc730 1px groove;
    border-radius: 0;
    color: #fdc730;
    background-color: black;
}

#credentialsSetSubmit:hover {
    background-color: rgb(12, 11, 11);
}

#createCredentialsButton {
    border: white 1px groove;
    border-radius: 3px;
    background-color: black;
    text-align: center;
}

#credentialsElements {
    border: blue 1px groove;
    /*padding-bottom: 10px;*/
    text-align: center;
    width: 500px;
}

#credentialsElements td  {
    display: inline-block;
    font-size: 20px;
}

#credentialsSubmitButtonText{
    font-size: 20px;
    /*padding-top: 10px;*/
    color: white;
}
#credentialsElements:hover {
    background-color: rgb(32, 30, 30);
}

#createCredentialsButton:hover{
    background-color: rgb(32, 30, 30);
}
