#credentialDivs {
    border: blue 1px groove;
    background-color: black;
    padding: 5% 17% 7%;
    color: white;
}

#credentialsTextSet{
    color: blue;
    font-size: 30px;
}

#credentialsSet {
    background-color: black;
    border-radius: 0;
    color: blue;
    border: blue 1px groove;
}

#credentialsSetSubmit {
    border: blue 1px groove;
    border-radius: 0;
    color: white;
    background-color: black;
}

#credentialsSetSubmit:hover {
    background-color: rgb(12, 11, 11);
}