body {
    margin: 0;
    color: white;
}

::placeholder {
    color: white;
}

.login-register {
    height: 400px;
    width: 320px;
    position: relative;
    top: 50%;
    transform: translateY(15%);
    margin: 0 auto;
}

.logo, h2 {
    text-align: center;
}

.logo > i {
    font-size: 30px;
    margin-top: 2px;
}

h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff;
}

input, label {
    box-sizing: border-box;
    padding: 10px;
    height: 32px;
}

label {
    width: 32px;
}

input {
    background: transparent;
    border: 0;
    color: #ffffff;
    width: calc(100% - 32px);
}

input:focus {
    outline: 0;
}

p, a, input, label {
    font-size: 12px;
    letter-spacing: 1px;
}

.login-register-btn {
    background: rgba(0, 0, 0, 0.71);
    display: inline-block;
    margin-top: 10px;
    padding: 5px 100px;
    border-radius: 10px;
    border: #111111;
    color: white;
    margin-left: 16%;
}

.login-register-btn:disabled {
    background: rgba(0, 0, 0, 0.19);
}



.clear {
    clear: both;
}

