/** REGISTER **/
#textColorRegister {
    border: white 1px groove;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5% 17% 7%;
    border-radius: 20px;
    color: white;
}

#accountVerifyText{
    color: red;
    font-size: 30px;
}

#textColorRegister p {
    font-size: 35px;
    color: white;
}

#authorizationSubmitButton:hover {
    background-color: rgb(12, 11, 11);
}
#inputs{
    /*background-color: rgb(12, 11, 11);*/
}

#inputs input {
    background-color: rgba(12, 11, 11, 0.0);
    border-radius: 10px;
    color: white;
    border: white 1px groove;
}
/** LOGIN **/
#textColorLogin {
    border: white 1px groove;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5% 17% 7%;
    border-radius: 20px;
    color: white;

}

#textColorLogin p {
    font-size: 35px;
    color: white;
}