#ButtonTrailingStop {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    /*border: rgb(99, 78, 255) 1px groove;*/
}

#ButtonTrailingStopText{
    color: white;
}

#ButtonTrailingStop:hover {
    background-color: rgb(32, 30, 30);
}